* {
    background-color: black;
}

.viewport {
    border: 1px solid grey;
    display: block;
    height: 750px;
    width: 600px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.viewport .left-boundary {
    border: 1px dotted red;
    height: 80%;
    width: 0;

    position: absolute;
    top:0;
    bottom: 0;
    left: -500px;
    right: 0;

    margin: auto;
}

.viewport .right-boundary {
    border: 1px dotted blue;
    height: 80%;
    width: 0;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: -500px;

    margin: auto;
}


.viewport .peg {
    border: 1px solid white;
    background-color: white;
    display: block;
    height: 25px;
    width: 8px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
